<mat-card>
    <mat-card-header>
        <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div>
            <form [formGroup]="registrationForm">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Password confirmation</mat-label>
                    <input type="password" matInput formControlName="confirmPassword">
                </mat-form-field>
                @if(registrationForm.errors?.['PasswordNoMatch']){
                <mat-error>the confirmPassword does not match the password</mat-error>
                }

            </form>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button color="primary" type="button" (click)="register()"
            [disabled]="!registrationForm.valid">Registration</button>
    </mat-card-actions>
</mat-card>