mat-card {
    mat-form-field {
        width: 100%;
    }
    width: 70%;
    margin: 0 auto;
    padding: 0 30px;
    mat-card-actions{
        display: flex;
        justify-content: space-between;
    }
}